@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}



html,
body {
  width: 100vw;
  height: 100vh;
  content-visibility: auto;
  -webkit-font-smoothing: antialiased;
  /* font-family:
     -apple-system, BlinkMacSystemFont, "Segoe UI",
     Roboto, Helvetica, Arial, sans-serif; */
  /* font-family: "Computer Modern", sans-serif; */
  text-align: justify;
}

*:focus-visible {
  outline: none;
}

code {
  @apply text-sm font-mono text-purple-700 font-medium;
}

pre.astro-code {
  @apply px-4 py-3 rounded-lg text-xl !bg-zinc-50/60 leading-6 overflow-x-scroll;
}

svg.rough-annotation {
  opacity: 70%;
}
